{{#emptyResourceCheck}}
    <div class="panel panel-white">
        <div class="panel-heading">
            <h4 class="panel-title">
              <strong><span class="parent">{{parentUrl}}</span><span class="child">{{relativeUri}}</span></strong>
                <span class="methods">{{#methods}}
                        <a href="#details_panel_{{../uniqueId}}_{{method}}_top"><!-- data-toggle="modal" data-target="#{{../uniqueId}}_{{method}}" -->
                            <span class="badge badge_{{method}}">{{method}}{{lock securedBy}}</span>
                        </a>{{/methods}}
                </span>
            </h4>
        </div>

        <div class="panel-body">
          {{#if parentUrl}}
                    {{#if description}}
                        <div class="resource-description">{{md description}}</div>
                    {{/if}}
                {{/if}}

                <div class="list-group">
                    {{#methods}}
		    <a class="spaced-anchor" id="details_panel_{{../uniqueId}}_{{method}}_top"/>
                        <div class="list-group-item">
                          <div class="method-row {{method}}">    
                            <a onclick="$('#details_panel_{{../uniqueId}}_{{method}}').collapse('toggle');" title="Expand/Collapse section">
			      <span class="badge badge_{{method}}">
			        {{method}}{{lock securedBy}}
			      </span>
                              <span class="method-shortdesc">{{mdFirstSentence description}}</span>
			     </a>    
                            </div>
			    <div id="details_panel_{{../uniqueId}}_{{method}}" class="panel-collapse collapse">
                              <div class="method_description">
                               {{mdRest description}}

                            <!-- div class="tab-content" -->
                            <div class="request" id="{{../uniqueId}}_{{method}}_request">
                              <hr/><h3>Request</h3>
                                    {{#if ../allUriParameters}}
                                        <h4>URI Parameters</h4>
                                        <ul>
                                            {{#each ../../allUriParameters}}
                                                {{> item}}
                                            {{/each}}
                                        </ul>
                                    {{/if}}

                                    {{#if headers}}
                                        <h4>Headers</h4>
                                        <ul>
                                            {{#each headers}}
                                                {{> item}}
                                            {{/each}}
                                        </ul>
                                    {{/if}}

                                    {{#if queryParameters}}
                                        <h4>Query Parameters</h4>
                                        <ul>
                                            {{#each queryParameters}}
                                                {{> item}}
                                            {{/each}}
                                        </ul>
                                    {{/if}}

                                    {{#if body}}
                                        {{#each body}}
                                        <div class="body">
                                            <strong>{{@key}}</strong>
                                            {{#if formParameters}}
                                                <p><strong>Form Parameters</strong>
                                                <ul>
                                                    {{#each formParameters}}
                                                        {{> item}}
                                                    {{/each}}
                                                </ul></p>
                                            {{/if}}

                                            {{#if this.example}}
                                                <dl class="dl-horizontal"><dt>Example:</dt><dd>
<pre class="language-xml">
{{this.example}}
</pre></dd></dl>


                                            {{/if}}
                                        </div>
                                        {{/each}}
                                    {{/if}}
                                </div>

                                {{#if responses}}
                                    <div class="response" id="{{../../uniqueId}}_{{method}}_response">
                                    <hr><h3>Response</h3>
                                    {{#each responses}}
                                            <table><tr><td class="key"><p><a href="http://httpstatus.es/{{@key}}" target="_blank" title="HTTP Status Code">{{@key}}</a>:</p></td><td>{{md this.description}}

                                            {{#if this.headers}}
                                            <p>Headers:</p>
                                                <ul>
                                                    {{#each this.headers}}
                                                        {{> item}}
                                                    {{/each}}
                                                </ul>
                                            {{/if}}
                                            </td></tr></table>
                                            {{#if this.body}}<div class="body">
                                                {{#each this.body}}
                                                <strong>{{@key}}</strong>:{{#if this.schema}} 
                                                        Schema (TODO Hyperlink)
                                                    {{/if}}

                                                    {{#if this.example}}
                                                    <dl class="dl-horizontal">
                                                        <dt>Example:</dt><dd>
<div><pre class="language-xml">
{{this.example}}
</pre></div>
                                                        </dd></dl>
                                                    {{/if}}
                                                {{/each}}
                                            </div>{{/if}}
                                        {{/each}}
                                      </div>
                                {{/if}} 
                                <a class="top" href="#">Top</a>
				</div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    {{/methods}}
                </div>
            </div>
    </div>
{{/emptyResourceCheck}}

{{#resources}}
    {{> resource}}
{{/resources}}
