<!DOCTYPE html>
<html>
  <head>
    <script src="http://iotpaas-archive.xbudev.org/assets-standalone/javascripts/anchor.js" type="text/javascript"></script>
    <meta charset='utf-8'>
    <meta content='IE-edge,chrome=1' http-equiv='X-UA-Compatible'>
    <title>{{title}} API reference {{#if version}}version {{version}}{{/if}}</title>
    <link href="http://iotpaas-archive.xbudev.org/assets-standalone/stylesheets/normalize.css" rel="stylesheet" type="text/css" />
    <link href="http://iotpaas-archive.xbudev.org/assets-standalone/stylesheets/all.css" rel="stylesheet" type="text/css" />
    <script src="http://iotpaas-archive.xbudev.org/assets-standalone/javascripts/all.js" type="text/javascript"></script>
    <link href="http://iotpaas-archive.xbudev.org/assets-standalone/stylesheets/apiref.css" rel="stylesheet" type="text/css" />
    <script src="http://iotpaas-archive.xbudev.org/assets-standalone/javascripts/apiref.js" type="text/javascript"></script>
    <link href="http://cisco.com/favicon.ico" rel="icon" type="image/ico" />
  </head>
  <body class='developer_center'>

 <div class='dev-content body-text'>

<div class="row">

               <div class="page-header">
                    <h1>{{title}} API reference {{#if version}}<small>version {{version}}</small>{{/if}}</h1>
                    <p>{{baseUri}}</p>

                    {{#documentation}}
                        <h3 id="{{uniqueId}}">{{title}}</h3>
                        {{md content}}
                    {{/documentation}}
		    <p><a class="expandall" href="javascript:void(0);">Expand all</a> | <a class="collapseall" href="javascript:void(0);">Collapse all</a></p>
		</div>

                {{#resources}}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 id="{{uniqueId}}" class="panel-title">{{#if displayName}}{{displayName}}{{/if}}{{#unless displayName}}{{relativeUri}}{{/unless}}</h3>
                        </div>

                        <div class="panel-body">
                            {{#if description}}
                                <div class="top-resource-description">
                                    {{md description}}
                                </div>
                            {{/if}}

                            <div class="panel-group">{{> resource}}</div>
                        </div>
                    </div>
                {{/resources}}


 </div>

</div>
</body>
</html>
